{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    
    <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image:url('{{ asset('./assets/img/hero/ny.jpg') }}')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Our Events </h2>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
        </div>
        <br>
          <div class="hero-cap text-center">

            <form method="get">
        <input type="text" name="query" placeholder="Event Name"  class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
       onblur="this.placeholder = ' Event Name '" value="{{ query }}">
        <button type="submit" class="genric-btn primary small">Search</button>
    </form>
     </div>
<div id="response-content">

    {% include 'event/table_content.html.twig' %}
</div>
    <button  class="btn"><a href="{{ path('app_event_new') }}">Create new event</a></button>

 
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    const route = "{{ path('app_event_index')|escape('js') }}"
    const inputName = $('#inputName');

    $('#submit-search-btn').on('click', function(){
        let searchName = inputName.val()

        let urlSearchParams = new URLSearchParams();
        urlSearchParams.append('inputName',searchName)

        $.ajax({
            url: route + '?' + urlSearchParams.toString(),
            type: 'GET',
            success: function(response) {
                $('#response-content').html(response)
            }
        })

    });

   /* $(document).ready(function() {
        console.log(route)
        $('#search-form').submit(function(event) {
            event.preventDefault();

            var query = $('#query').val();

            $.ajax({
                url: "",
                data: { query: query },
                success: function(data) {

                    $('#search-results').html(results);

                }
            });
        });*/
</script>
{% endblock %}

