{#ff#}
<table border=1>
<tr> 
<th> Reference </th>
<th> Title </th>
<th> Description </th>
<th> Start date </th>

</tr>
{% for course in courses %}
<tr>
<td>{{ course.ref }}</td>
<td>{{ course.Title|upper }}</td>
<td>{{ course.Description }}</td>
<td>{{ course.start_date }}</td>
<td><a href="{{ path('details',{title: course.Title}) }}">DETAILS</a></td>

</tr>
{% else %} courses not found
{% endfor %}
</table>

{% set tab = [1, 5, 2, 3] %}
{{ max(tab) }} 
<img src="{{ asset ('Images/Image.jpg') }}" alt="Example"/>

