{% extends 'base.html.twig' %}


       
{% block body %}
   
  
     <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                    <div class="small-section-tittle2 mb-45">
                                    
                             
                                </div>
                            </div>
                        </div>
                     
                        <!-- Job Category Listing End -->
                    </div>
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                       
     <section class="featured-job-area">
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                          
                                            <!-- Select job items start -->
                                            <div class="select-job-items">
                                                <span>Sort by</span>
                                                <select name="select">
                                                    <option value="">title</option>
                                                    <option value="">price</option>
                                                   
                                                </select>
                                            </div>
                                             <div class="select-job-items2">
                                    <select name="select">
                                        <option value="">All Categories</option>
                                        <option value="">Mathematics</option>
                                        <option value="">Marketing</option>
                                        <option value="">Bussiness</option>
                                        <option value="">Development</option>
                                    </select>
                                </div>
                                
                                            <!--  Select job items End-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <!-- single-job-content -->
                                 {% for course in courses %}
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                     
                                            <a href="#"><img src= "{{ asset('assets/img/' ~ course.photo) }}" alt="" width="300" height="150"> </a>
                                        </div>
                                        <div class="job-tittle job-tittle2">
                                            <a  href="{{ path('app_course_show', {'cid': course.cid}) }}" >
                                                <h4>{{ course.title }} </h4>
                                            </a>
                                            <ul>
                                                <li>{{course.category}}</li>
                                                <li>{{ course.price }}$</li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                </div>
                                 {% else %}
                          <tr>
                        <td colspan="7">no records found</td>
                      </tr>
                    {% endfor %}
                                
                  </div>
                  </section>
                   
                    </div>
                </div>
            </div>
        </div>
  
{% endblock %}