{% extends 'base.html.twig' %}
{% block body %}
	<style></style>
	<!-- Hero Area Start -->
	<div class="slider-area">
		<div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{{ asset('assets/img/hero/about.jpg') }}" style="background-image: url('{{ asset('assets/img/hero/about.jpg') }}');">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Get your job</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End -->
	<!-- Job List Area Start -->
	<div class="job-listing-area pt-120 pb-120 js-filter">
		<div class="container">
			<div
				class="row">
				<!-- Left content -->
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="row">
						<div class="col-12">
							<div class="small-section-tittle2 mb-45">
								<div class="ion">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
										<path fill-rule="evenodd" fill="rgb(27, 207, 107)" d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"></path>
									</svg>
								</div>
								<h4>Filter Jobs</h4>
							</div>
						</div>
					</div>
					<!-- Job Category Listing start -->
					<div class="job-category-listing mb-50">
						<div class="">
							{{ form_start(form ,{attr: {class: 'js-filter-form'}}) }}
							<!-- search bar start -->
							<div class="single-listing">
								<div class="mt-10">
									{{ form_row(form.q, { 'attr': {'class': 'single-input'} }) }}
								</div>
								<br>
							</div>
							<!-- search bar end -->
							<!-- single one -->
							<div class="single-listing">
								<div class="small-section-tittle2">
									<h4>Filter by Category</h4>
								</div>
								<!-- Select job items start -->
								<div class="single-listing">
									<div class="mt-10">
										{{ form_row(form.categories) }}
									</div>
									<br>
								</div>
							</div>
							<!-- single three -->
							<div class="single-listing">
								<!-- select-Categories start -->
								<!-- select-Categories start -->
								<!-- select-Categories start -->
								{{ form_label(form.dates, 'Posted Within') }}
									<div class="select-Categories pb-50"> {% for choice in form.dates %}
										{% set id = 'date_' ~ loop.index0 %}
										<label class="container" for="{{ id }}">
											{{ form_widget(choice, { 'id': id }) }}
											{{ form_label(choice, null, {'label_attr': {'for': id}}) }}
											<span class="checkmark"></span>
										</label>
									{% endfor %}
								</div>
								<!-- select-Categories end -->

							</div>
							<!-- min max bar start -->
							<div class="small-section-tittle2">
								<h4>Filter By Budget</h4>
							</div>
							<div class="single-listing">
								<div class="mt-10">
									{{ form_row(form.min, { 'attr': {'class': 'single-input'} }) }}
								</div>
								<br>
							</div>
							<div class="single-listing">
								<div class="mt-10">
									{{ form_row(form.max, { 'attr': {'class': 'single-input'} }) }}
								</div>
								<br>
							</div>
							<!-- min max ba end -->
							<div
								class="single-listing">
								<!-- Range Slider Start -->
								<aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">

									<div id="price-slider"></div>

								</aside>
								<!-- Range Slider End -->
								<div class="mt-10" style="display: flex; justify-content: center;">
									<button type="submit" class="btn">{{ button_label|default('Filter') }}</button>
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
					<!-- Job Category Listing End -->
				</div>
				<!-- Right content -->
				<div
					class="col-xl-9 col-lg-9 col-md-8">
					<!-- Featured_job_start -->
					<section class="featured-job-area">
						<div
							class="container">
							<!-- Count of Job list Start -->
							<div class="row">
								<div class="col-lg-12">
									<div class="count-job mb-35">
										<span>
											{{ freelances|length }}
											Jobs found
										</span>
										<span>

											Sort By :
										</span>
										<!-- Select job items start -->
										<div class=" items-link items-link2 f-right js-filter-sorting">
											{{ knp_pagination_sortable(freelances, 'Show Newest', 'f.adddate', {'defaultDirection': 'desc'}) }}
											{{ knp_pagination_sortable(freelances, 'Show Available', 'f.state') }}
										</div>
										<div class="items-link items-link2 f-right">
											<a href="{{ path('app_freelance_new') }}">Create New</a>
										</div>
										<!-- Select job items End -->
									</div>
								</div>
							</div>
							<!-- Count of Job list End -->
							<!-- single-job-content -->
							<div class="js-filter-content">
								{% include 'freelance/_freelances.html.twig' %}
							</div>
						</div>
					</section>
					<!-- Featured_job_end -->
					<!-- Pagination Start -->
					<div class="d-flex justify-content-center mt-4 js-filter-pagination">
						{{ knp_pagination_render(freelances) }}
					</div>
					<!-- Pagination End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Job List Area End -->
{% endblock %}
