{% extends 'base.html.twig'%}

{% block title %} blog{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>




<div class="example-wrapper">
<br></br><br></br>
    <div style="display:flex;align-items: center; justify-content:center">
    <div class="input-group no-border">
 
    <div>
    <form action="{{ path('display_blog') }}" method="get">
    <input type="hidden" name="sort" value="{{ nextSort }}">
    <button type="submit" class="btn btn-primary">
        Sort by title ({{ nextSort }})
    </button>
</form>
<br></br><br></br><br>
</div>
</div>
</div>
  
        {% for blog in b %}
        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="assets/img/blog/single_blog_2.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Jan</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2> <a href="{{path ('showBlog',{'id':blog.id}) }}" style="color: black;">{{blog.title}}</a></h2>
                                </a>
                                <p>{{blog.body}}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                    
        {% endfor %}
       
    
    </div>
    
        <a class='btn btn-primary' href="{{path ('addBlog') }}">ajouter </a>
                <a class='btn btn-primary' href="{{path ('app_bot') }}">chatbot </a>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
     
     <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
     </script>
</div>


{% endblock %}
