{% extends 'base.html.twig'%}
{% block body %}
<div class="slider-area ">
      <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background={{asset('assets/img/hero/about.jpg')}}>
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Blog Details</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>
         <div class="card-footer">
    <a href="{{ path('modif_blog', {'id': blog.id}) }}" class="btn btn-primary">add blog</a>
    <a href="{{ path('supp_blog', {'id': blog.id}) }}" class="btn btn-danger">delete</a>
  </div>
   <br><br>
<div class="container">
         <div class="row">
      <div class="col-lg-8 posts-list">
        
        <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src={{asset('assets/img/blog/single_blog_1.png')}} alt="">
                  </div>
                  <div class="blog_details">
                     <h2>  {{blog.title}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> {{blog.note}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                     </ul>
                     
                    
                     <div class="quote-wrapper">
                        <div class="quotes">
                           {{blog.body}}
                        </div>
                     </div>
                    
                  </div>
               
                     
                    </div>
                 </div>
                </div>

        
            </div>


                  
          


              
                 <div class="comment-list">
                   {% for comment in comments %}
                    <p class="comment">
                                 <p>Zienb Ben Arab</p>
                              </p>
                    {{comment.body}}
                <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src={{asset('assets/img/comment/comment_1.png"')}} alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 <p>Zienb Ben Arab</p>
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       
                                       {{comment.body}}
                                    </h5>
                                    
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>                    
                       

                         
                         <a class = 'btn btn-success' href="{{path ('modif_comment',{'id':comment.id}) }}">Modifier </a>
                        
                        
                     
                            <a class = 'btn btn-danger' href="{{path ('supp_comment',{'id':comment.id}) }}">Supprimer </a>
                      
                {% endfor %}
                   <a class='btn btn-primary' href="{{path ('add_comment') }}">add a comment </a>
           
      
       
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>          
<style>
            #stars
            {
                width:200px;
                height:200px;
                margin:50px auto;   
            }
            lt
            {
                display:inline-block;
                {# font-size:20px; #}
                padding:1px;
                color:#ccc;
            }
            .hovered-stars
            {
                color:#FFCC36;
            }
            .clicked-stars
            {
                color:sandybrown;
            }
</style>
<script>
var data;
    $(document).ready(function(){
        $("lt").mouseover(function(){
            var current = $(this);
            $("lt").each(function(index){
                $(this).addClass("hovered-stars");
                if(index == current.index())
                {
                    return false;
                }
            })
        })
        $("lt").mouseleave(function(){
            $("lt").removeClass("hovered-stars");
        });
        $("lt i").click(function(){
            $("lt").removeClass("clicked-stars");
            $(".hovered-stars").addClass("clicked-stars");
            var val=$(".clicked-stars").length;
            
            console.log(val);
            
        
        $.ajax({
            type: "POST",
            url: "{{path('star',{id:blog.getId()})}}",
            data: {value:val},
            dataType: "json",
            success: function(response) {
                console.log(response);
                $("#msg").html((response.toFixed(2))+"/5");
            },
            error: function(jqXHR, status, error) {
            console.log(error);
            
        }
        });
        
        });
    
    })
</script>



       {% endblock %}