{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lid</th>
                <th>Name</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.lid }}</td>
                <td>{{ lesson.name }}</td>
                <td>{{ lesson.file }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'lid': lesson.lid}) }}">show</a>
                    <a href="{{ path('app_lesson_edit', {'lid': lesson.lid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}">Create new</a>
{% endblock %}
